<% content_for :title do %>
    ホーム
<% end %>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">email</label>：
      <label class="control-label" for=""><%= @current_user.email%></label>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label" for="">名前</label>：
        <label class="control-label" for=""><%= @current_user.name%></label>
      </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">業界経験年数</label>：
      <label class="control-label" for=""><%= @current_user.years_of_experience%></label>
      </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">所属</label>：
      <label class="control-label" for=""><%= @current_user.department.name%></label>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">役職</label>：
      <label class="control-label" for=""><%= @current_user.role.name%></label>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">誕生日</label>：
      <label class="control-label" for=""><%= @current_user.birthday%></label>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">住所</label>：
      <label class="control-label" for=""><%= @current_user.address%></label>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">最寄り駅</label>：
      <label class="control-label" for=""><%= @current_user.closest_station%></label>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="">性別</label>：
      <label class="control-label" for=""><%= @current_user.gender%></label>
    </div>
  </div>  